

@{
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
<div class="sidebar col-2 col-m-2 col-a-2 col-b-2">
    <div class="sidebar-section ">
        <h3>Sidebar-show menu,...</h3>
    </div>
</div>

<div class="main-content col-9 col-m-9">
    <div class="main-content-showlistbook  col-12">
        show bestselling books
    </div>
    <div class="main-content-showlistbook  col-12">
        
    </div>
    <div class="main-content-showlistbook  col-12">
       
    </div>
</div>
